.background {
    margin-top: 5%;
    margin-left: 17%;
    width: 830px;
    height: 470px;
    background-color: white;
    opacity: .9;
    overflow-y:scroll;        
}

.container {
    text-align: center;
    color: brown;
}

#materi {
    margin-bottom: 50px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.row {
    height: 40px;
}

#nama {
    width: 180px;
}

#pekerjaan, option {
    width: 187px;
    color: brown;
}

#pesan {
    width: 180px;
    height: 60px;
}

#reset button {
    width: 290px;      
}

#link, a {
    margin-top: 40px;
    text-decoration: none;
    color: brown;
}