.background {
    margin-top: 5%;
    margin-left: 17%;
    width: 815px;
    height: 470px;
    background-color: white;
    opacity: .9;
    overflow-y:scroll;            
}

.container {
    text-align: center;
    color: brown;
}

.container h1 {
    text-align: center;
    font-weight: bold;
    color: brown;
    margin-bottom: 25px;
}

.container p {
    color: indianred;
    margin: 15px;
    text-align: center;
    margin-bottom: 50px;
}

table, th, td {
    border: 1px solid brown;
    color: brown;
    margin-bottom: 25px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.container a {
    text-align: center;
    text-decoration: none;
    color: brown;
}